h3{
	text-align: right;
	font-family: sans-serif;
	font-weight: normal;
	font-size: medium;
	padding-top: 20px;
	padding-right: 20px;
}

h5 {
    text-align: left;
    float:left;
    padding-top: 18px;
    padding-left: 10px;
}