body.contenu {
             background-color:#FFFFFF;
             opacity: 0.9;
}

div.contenu {
            margin: 5px;
}

p.pave {
              border: 1px solid LightGrey;
              border-radius: 5px;
              background: BlanchedAlmond ;
              margin: 5px;
              padding: 5px;
              opacity: 1;
}

p.code {
              border: 1px solid LightGrey;
              border-radius: 5px;
              background: White;
              padding: 5px;
              opacity: 1;
}

ul.liste {
              border: 1px solid LightGrey;
              border-radius: 5px;
              background: White;
              margin: 5px;
              opacity: 1;
}