body.contenu {
             background-color:#FFFFFF;
}

div.contenu {
            margin: 5px;
            font-size:120%;
}

p.pave {
              border: 1px solid LightGrey;
              border-radius: 5px;
              background: BlanchedAlmond ;
              margin: 5px;
              padding: 5px;
}

p.code, pre.code {
              border: 1px solid LightGrey;
              border-radius: 5px;
              background: White;
              padding: 5px;
              margin-left: 15px;
              margin-right: 15px;
}

ul.liste {
              border: 1px solid LightGrey;
              border-radius: 5px;
              background: White;
              margin: 5px;
}