header {
	width:80%;
	height:50px;
	margin-left: 10%;
	margin-bottom: 10px;
	background-color:#9cbfe2;
	}

article#contenu {
	width: 100%;
	background-color:#FFFFFF;
	}

article#includedContent {
	float:left;
	margin-left: 20px;
	margin-rignt: 20px;
	width:70%;
	height:100%;
	background: repeating-linear-gradient(
                   135deg,
                   #cfd3e2  5px,
                   #eff0f5  15px
                 );
	}

footer {
	clear:both;
	width:80%;
	height:50px;
	margin-left: 10%; 
	margin-top: 10px;
	padding-top: 20px;
	background-color:#9cbfe2;
	}

aside {
	float:left;
	margin-left: 2%;
	width:20%;
	height:100%;
	background-color:#FFFFFF;
	}

.embeded {
    width: 100%;
   }
