@(title: String)(header: Html, footer: Html, leftMenu: Html, contenuArticle: Html)

<!DOCTYPE html>

<html lang="fr">
<head>
<meta charset="UTF-8">
<title>CV David Bertrand</title>

<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/layout.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/top.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/bottom.css")">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" href="@routes.Assets.versioned("javascript/leftColumn.js"></script>

<meta name="description" content="Une page de présentation">



 </head>

    <body>
    <header>
        @header
    </header>
    <article id="contenu">
        <aside>
            @leftMenu
        </aside>

        <article id="includedContent">
            @contenuArticle
        </article>
    </article>
    <footer>
        @footer
    </footer>
    </body>
</html>